.form {
  background-color: #05c967;
  padding: 1rem;
  width: 20rem;
  height: 8rem;
}

.button {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #05c967;
  border-radius: 32px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  animation: animate-in 1s ease-in forwards;
  text-align: center;
  transition: 0.5s;
  text-decoration: none;
  background: linear-gradient(to bottom, #05c967 50%, #03ac57 50%) top;
  background-size: 100% 200%;
}

.button:hover {
  background-position: bottom;
  background-color: #03944c;
}
.buttontext {
  white-space: pre-wrap;
  font-size: 1.5rem;
  margin: 0.25rem 0 0 0;
  color: #fffffd;
  font-style: bold;
}
